!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %title= "Wage Counter"
    %meta{:content => "wage clock, bored at work, wages, salary", :name => "keywords"}/
    %meta{:content => "Bored at work? Watch your money accumulate instead of the clock.", :name => "description"}/
    = stylesheet_link_tag :all
    = javascript_include_tag 'jquery', 'application'
    = csrf_meta_tag

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32822761-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  = yield

